*{
  font-family: Arial, Helvetica, sans-serif;
}

.barContainer{
  width: 200px;
}

.barTitle{
  font-size: 18px;
}

.barList{
  display: flex;
  height: auto;
  max-height: 670px;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.barItem{
  height: 64px;
  padding: 10px;
  background-color: #343e97;
  border-radius: 12px;
  color: aliceblue;
  cursor: pointer;
}

.barItemCords {
  font-size: 12px;
  margin-top: 6px;
}